.login{
    height:100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content:center;
    
}


.login-con .logo img{
    width: 60%;
    display: block;
    height: auto;
    margin: auto;
    
}

.login-con .logo p{
   text-align: center;
    font-size:20px;
}

.login-con  a{
    font-size: 16px;
    color: #ea6b6b;
    text-decoration: none;
    text-align: center;


 }

.login form{
    height: 520px;
    width: 400px;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 30px 35px;
}
.login form *{
    font-family: 'Poppins',sans-serif;
    color: #000000;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

.login label{
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}
.login input{
    display: block;
    height: 50px;
    width: 95%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
    border-color: #8c00ff;
    border: 1px solid  #8c00ff;
}

.login input[id="password"]{
    margin-bottom: 10px;
    
}
.login ::placeholder{
    color: #ea6b6b;
}
.login form .main-btn{
    margin-top: 40px;
    width: 100%;
    background-color: #8c00ff;
    color: #ffffff;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

.login  button{
  width: 50%;
  border-radius: 15px;
  border: none;
  transition: all 0.5s ;
  font-size: 18px;
  background-color: purple;
  
}

.login  button:active{
    background-color: rgb(255, 0, 255);
  }
  
